<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Movie Maniac</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/hcss/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="/static/hcss/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Movie Maniac</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="home2">Home</a>
                    </li>

                    <li>
                        <a href="watchlist"> Movie List </a>
                    </li>
                    <li>
                        <a href="#"> Profile </a>
                    </li>
                    <li>
                        <a href="signout"> Signout </a>
                    </li>



					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">Your Activity</a></li>
							<li><a href="#">Your Lists</a></li>
							<li><a href="#">Your Ratings</a></li>
						</ul>
					</li>

                </ul>


				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Movie Categories </h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Actions</a>
					<a href="#" class="list-group-item">Animations</a>
					<a href="#" class="list-group-item">Adventures</a>
					<a href="#" class="list-group-item">History</a>
					<a href="#" class="list-group-item">War</a>
                    <a href="#" class="list-group-item">Crime</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> </h1>
				</div>

{#				<div class="panel-body">#}
{#					<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>#}
{#					<!--<p><button class="btn btn-default">Engage</button></p>-->#}
{#				</div>#}
			</div>

			<!-- Text Panel 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span> 
						Active Predomination
					</h3>
				</div>
				<div class="panel-body">
					<p>Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Resource</button>
						<button type="button" class="btn btn-default">Envision</button>
						<button type="button" class="btn btn-default">Niche</button>
					</div>
				</div>
			</div>	
			-->
				
		</div><!--/Left Column-->
  
  
		<!-- Center Column -->
		<div class="col-sm-6">
		
			<!-- Alert -->

		
			<!-- Articles -->
			<div class="row">
                <p> Movie Maniac Charts </p>
                <h3> Top Rated Movies </h3>
                <p> Top 250 as rated by movie maniac users </p>
				<article class="col-xs-12">
                    <table id="customers">
                       <tr >

                           <td>
                               Name
                           </td>
                           <td>
                               Movie Maniac Rating
                           </td>
                       </tr>
                        {% for contact in contacts %}
                            <tr>

                                <td>
                                    {{ contact.name }}
                                </td>
                                <td>
                                    {{ contact.rating }}
                                </td>
                                <td>
                                    <form>
                                        <select class="form-control" style="width:198px">
                                            <option value="0">Your rating</option>
                                            <option value="1">1</option>
                                            <option value="3">2</option>
                                            <option value="4">4</option>
                                        </select>
                                        <input class="btn btn-primary" type="submit" value="rate" style="margin: 10px;">
                                    </form>
                                </td>
                                <td>
                                    <a><button class="btn btn-primary">Add to watch list</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {#                        {{ contact.name|upper }}<br>#}
                    </table>

                    <br>
                    <div >
                        <span>
                            {% if contacts.has_previous %}
{#                                <a href="?page=1">&laquo; first</a>#}
                                <a href="?page={{ contacts.previous_page_number }}"><button class="btn btn-primary">previous</button></a>
                            {% endif %}

                            <span >
                                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
                            </span>

                            {% if contacts.has_next %}
                                <a href="?page={{ contacts.next_page_number }}"><button class="btn btn-primary">next</button></a>
{#                                <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>#}
                            {% endif %}
                        </span>
                    </div>
					<!--
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					
					<ul class="list-inline">
						<li><a href="#">Today</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 8 Shares</a></li>
					</ul>
					-->
				</article>
			</div>

			<hr>
			<div class="row">
			<!--
				<article class="col-xs-12">
					<h2>Proactively Envisioned</h2>
					<p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">Yesterday</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 21 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
					</ul>
				</article>
				-->
			</div>
			
			      
			<div class="row">
			<!--
				<article class="col-xs-12">
					<h2>About Us</h2>
					<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">2 Days Ago</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 12 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 18 Shares</a></li>
					</ul>
				</article>
			-->
			</div>
			
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">

			<!-- Form --> 
{#			<div class="panel panel-default">#}
{#				<div class="panel-heading">#}
{#					<h3 class="panel-title">#}
{#						<span class="glyphicon glyphicon-log-in"></span> #}
{#						Log In#}
{#					</h3>#}
{#				</div>#}
{#				<div class="panel-body">#}
{#					<form method="post" action="home">#}
{#                        {% csrf_token %}#}
{#						<div class="form-group">#}
{#							<input type="text" class="form-control" id="uid" name="uid" placeholder="Enter username">#}
{#						</div>#}
{#						<div class="form-group">#}
{#							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">#}
{#						</div>#}
{#						<button type="submit" class="btn btn-default">Log In</button>#}
{#					</form>#}
{#				</div>#}
			</div>
 
			<!-- Progress Bars -->
			<!--
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span> 
						Dramatically Engage
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							100% Proactively Envisioned
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%">
							80% Objectively Innovated
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							45% Portalled
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							35% Done
						</div>
					</div>
				</div>
			</div>
-->

			<!-- Carousel --> 
{# 			<h3><span class="glyphicon glyphicon-modal-window"></span> Synergization</h3>#}
{#			<div id="side-carousel" class="carousel slide" data-ride="carousel">#}
{#				<ol class="carousel-indicators">#}
{#					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>#}
{#					<li data-target="#side-carousel" data-slide-to="1"></li>#}
{#					<li data-target="#side-carousel" data-slide-to="2"></li>#}
{#				</ol>#}
{#				<div class="carousel-inner" role="listbox">#}
{#					<div class="item active">#}
{#						<a href="#">#}
{#							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%201" alt="">#}
{#						</a>#}
{#						<div class="carousel-caption">#}
{#							<h3>Dramatically Engage</h3>#}
{#							<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="item">#}
{#						<a href="#">#}
{#							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%202" alt="">#}
{#						</a>#}
{#						<div class="carousel-caption">#}
{#							<h3>Efficiently Unleash</h3>#}
{#							<p>Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="item">#}
{#						<a href="#">#}
{#							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%203" alt="">#}
{#						</a>#}
{#						<div class="carousel-caption">#}
{#							<h3>Proactively Pontificate</h3>#}
{#							<p>Holistically pontificate installed base portals after maintainable products.</p>#}
{#						</div>#}
{#					</div>			  #}
{#				</div>#}
{#				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">#}
{#				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
{#				  <span class="sr-only">Previous</span>#}
{#				</a>#}
{#				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">#}
{#				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#				  <span class="sr-only">Next</span>#}
{#				</a>#}
{#			  </div>#}

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->
	
	
        
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; Example.com 2015 </p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
    <script src="/static/hjs/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/hjs/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="/static/hjs/holder.min.js"></script>
	
</body>

</html>
